html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body h1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
}

body h3 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
}

body div {
  margin: 0;
}

#mainten #text {
  position: absolute;
  left: calc((100vw / 2) - 200px);
  top: 200px;
  color: white;
}

#mainten #text h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 8px;
}

#mainten #text h3 {
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 4px;
}

#mainten #text ul li {
  display: inline-block;
  margin: 20px;
  -webkit-animation: floatText 2s ease-in infinite;
          animation: floatText 2s ease-in infinite;
}

#mainten #text ul li a {
  text-decoration: none;
  color: white;
  font-family: Montserrat;
}

#mainten #asteorids img {
  -webkit-animation: floatTwo 4s ease-in-out infinite;
          animation: floatTwo 4s ease-in-out infinite;
}

#mainten .planet {
  -webkit-animation: floatTwo 5s ease-in-out infinite;
          animation: floatTwo 5s ease-in-out infinite;
}

#mainten #floating {
  position: absolute;
  width: 95vw;
  left: 35px;
  bottom: 50px;
}

#mainten #floating #laptop {
  float: left;
}

#mainten #floating #laptop img {
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

#mainten #floating #laptop .shadow1 {
  height: 30px;
  width: 500px;
  border-radius: 700px / 50px;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  -webkit-animation: shadow 6s ease-in-out infinite;
          animation: shadow 6s ease-in-out infinite;
  margin-left: 80px;
}

#mainten #floating #mobile {
  position: absolute;
  bottom: 0px;
  right: 50px;
}

#mainten #floating #mobile img {
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

#mainten #floating #mobile .shadow2 {
  height: 30px;
  width: 120px;
  border-radius: 400px / 50px;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  -webkit-animation: shadow 6s ease-in-out infinite;
          animation: shadow 6s ease-in-out infinite;
  margin-right: 80px;
}

#home {
  height: 100%;
}

#home .images {
  width: 513px;
  height: 155px;
  position: relative;
  right: 165px;
}

#home .images img {
  position: relative;
  top: 40px;
  left: calc((100% / 2) - 75px);
  width: 150px;
  height: 150px;
  -webkit-clip-path: circle();
          clip-path: circle();
}

#home nav {
  position: relative;
  width: 200px;
  top: calc((100% / 2) - 280px);
  left: 50px;
  z-index: 5;
}

#home nav ul {
  margin-left: 40px;
}

#home nav ul li {
  margin: 30px auto;
  list-style-type: none;
}

#home nav ul li a {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2em;
  text-decoration: none;
  text-align: left;
  color: black;
}

#home nav ul li a:hover {
  text-decoration: underline;
}

#infoModal .content {
  height: 90%;
  width: 80%;
  background: white;
  position: absolute;
  top: 3%;
  left: 10%;
  z-index: 11;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#infoModal .content #close {
  position: relative;
  left: calc(100% - 3%);
  top: 10px;
  cursor: pointer;
}

#infoModal .content .text {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

#infoModal .content h1 {
  font-size: 2em;
  position: relative;
  top: -15px;
  left: 180px;
}

#infoModal .content h3 {
  font-size: 1.5em;
}

#infoModal .content p {
  font-size: 1.3em;
}

#infoModal .content a {
  text-decoration: none;
  color: black;
  font-family: Montserrat;
}

#mosaic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  width: 75vw;
  overflow: hidden;
  float: right;
  position: absolute;
  right: 0;
}

.gallery-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  color: #fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: Nanum Gothic;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.gallery-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#modal .content {
  height: auto;
  width: 80vw;
  background: white;
  position: absolute;
  top: 25px;
  left: 10%;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#modal .content #close {
  position: relative;
  left: calc(100% - 3%);
  top: 10px;
  cursor: pointer;
}

#modal .content h1 {
  text-align: center;
  width: 80%;
  margin: 30px auto;
}

#modal .content .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto;
}

#modal .content .table .col {
  margin: 0 50px;
  width: 33%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

#modal .content .table .col h5 {
  font-size: 1.5em;
}

#modal .content p {
  width: 80%;
  text-align: center;
  margin: auto;
}

#modal .content .image img {
  width: 100%;
  height: auto;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes floatTwo {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes floatTwo {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes floatText {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-3px);
            transform: translatey(-3px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes floatText {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-3px);
            transform: translatey(-3px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
}
/*# sourceMappingURL=style.css.map */