html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    h1 {
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
    }

    h3 {
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    div {
        margin: 0;
    }
}

#landing {
    width: 100%;
    height: calc(100vh - 175px);
    position: relative;
    background: darkcyan;
}

.landingFoot {
    position: absolute;
    bottom: 10px;
    left: calc((100vw / 2) - 400px);
    width: 800px;

    h3 {
        margin: 7px 0;
    }
}

#about {
    height: 100vh;
    width: 100%;
    background: cyan;
    position: absolute;

    h1 {
        position: relative;
        top: 100px;
        width: 300px;
        height: 50px;
        text-align: center;
        left: 200px;
    }

    p {
        position: relative;
        top: calc((100vh / 2) - 107px);
        width: 700px;
        left: 650px;
        text-align: center;
    }
}

#skills {
    height: 100vh;
    background: plum;
    position: absolute;
    top: 200vh;
    display: flex;

    .skill {
        width: 350px;
        height: 180px;
        margin: 0 78px;
        box-sizing: border-box;
        text-align: center;
    }

    .sk1 {
        position: relative;
        top: calc(100vh - 300px);
    }

    .sk2 {
        position: relative;
        top: 100px;
    }

    .sk3 {
        position: relative;
        top: calc(100vh - 300px);
    }
}

#contact {
    height: 100vh;
    width: 100%;
    background: rgb(126, 92, 180);
    position: absolute;
    top: 400vh;
}

#modal {
    .content {
        height: auto;
        width: 80vw;
        background: white;
        position: absolute;
        top: 25px;
        left: calc((100vw / 2) - 805px);
        z-index: 3;
        box-sizing: border-box;

        #close {
            position: relative;
            left: calc(100% - 3%);
            top: 10px;
            cursor: pointer;
        }

        h1 {
            text-align: center;
            width: 80%;
            margin: 30px auto;
        }

        .table {
            display: flex;
            width: 60%;
            margin: auto;

            .col {
                margin: 0 50px;
                width: 33%;
                padding: 5px;
                box-sizing: border-box;
                text-align: center;

                h5 {
                    font-size: 1.5em;
                }
            }
        }

        p {
            width: 80%;
            text-align: center;
            margin: auto;
        }

        .image {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}


#menu {
    width: 25%;
    height: 100vh;
    float: left;
    background: white;
}

#mainten {
    #text {
        position: absolute;
        left: calc((100vw / 2) - 200px);
        top: 200px;
        color: white;

        h1 {
            text-align: center;
            font-size: 3em;
            letter-spacing: 8px;
        }

        h3 {
            text-align: center;
            font-size: 1.4em;
            letter-spacing: 4px;
        }

        ul {
            li {
                display: inline-block;
                margin: 20px;

                a {
                    text-decoration: none;
                    color: white;
                    font-family: Montserrat;
                }

                animation: floatText 2s ease-in infinite;
            }
        }
    }

    #asteorids {
        img {
            animation: floatTwo 4s ease-in-out infinite;
        }
    }

    .planet {
        animation: floatTwo 5s ease-in-out infinite;
    }

    #floating {
        position: absolute;
        width: 95vw;
        left: 35px;
        bottom: 50px;

        #laptop {
            float: left;

            img {
                transform: translatey(0px);
                animation: float 6s ease-in-out infinite;
            }

            .shadow1 {
                height: 30px;
                width: 500px;
                border-radius: 700px / 50px;
                filter: blur(15px);
                animation: shadow 6s ease-in-out infinite;
                margin-left: 80px;
            }
        }

        #mobile {
            position: absolute;
            bottom: 0px;
            right: 50px;

            img {
                transform: translatey(0px);
                animation: float 6s ease-in-out infinite;

            }

            .shadow2 {
                height: 30px;
                width: 120px;
                border-radius: 400px / 50px;
                filter: blur(15px);
                animation: shadow 6s ease-in-out infinite;
                margin-right: 80px;
            }
        }
    }
}

//----NEW PAGE-----

#home {
    height: 100%;

    .images {
        width: 513px;
        height: 155px;
        position: relative;
        right: 165px;

        img {
            position: relative;
            top: 40px;
            left: calc((100% / 2) - 75px);
            width: 150px;
            height: 150px;
            clip-path: circle();
            //box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.4);
        }
    }

    nav {
        position: relative;
        width: 200px;
        top: calc((100% / 2) - 280px);
        left: 50px;
        z-index: 5;
        ul {
            margin-left: 40px;

            li {
                margin: 30px auto;
                list-style-type: none;

                a {
                    font-family: 'Nanum Gothic', sans-serif;
                    font-size: 2em;
                    text-decoration: none;
                    text-align: left;
                    color: black;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#infoModal {
    .content {
        height: 70vh;
        width: 80vw;
        background: white;
        position: absolute;
        top: calc((100vh / 2) - 35vh);
        left: calc((100vw / 2) - 400px);
        z-index: 11;
        box-sizing: border-box;

        #close {
            position: relative;
            left: calc(100% - 3%);
            top: 10px;
            cursor: pointer;
        }

        .text {
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }

        h1 {
            font-size: 2em;
            position: relative;
            top: -15px;
            left: 180px;
        }

        h3 {
            font-size: 1.7em;
        }

        p {
            font-size: 1.4em;
        }

        a {
            text-decoration: none;
            color: black;
            font-family: Montserrat;
        }
    }
}

#mosaic {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 75vw;
    overflow: hidden;
    float: right;
    position: absolute;
    right: 0;
}

.gallery-item {
    position: relative;
    flex: 1 0 25%;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: Nanum Gothic;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}


.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes floatTwo {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes floatText {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-3px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    }
}