html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body h1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
}

body h3 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
}

body div {
  margin: 0;
}

header {
  height: 50px;
}

header #logo {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50px;
  background: yellow;
}

header nav {
  position: relative;
  left: calc((100vw / 2) - 305px);
  width: 610px;
}

header nav ul {
  margin: 0;
  position: relative;
}

header nav ul li {
  display: inline-block;
  margin: 15px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
}

header nav ul li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  color: red;
  text-decoration: none;
}

header nav ul li a:hover {
  color: yellow;
  background: salmon;
}

#landing {
  width: 100%;
  height: calc(100vh - 175px);
  position: relative;
  background: darkcyan;
}

.landingFoot {
  position: absolute;
  bottom: 10px;
  left: calc((100vw / 2) - 400px);
  width: 800px;
}

.landingFoot h3 {
  margin: 7px 0;
}

#about {
  height: 100vh;
  width: 100%;
  background: cyan;
  top: 100vh;
  position: absolute;
}

#about h1 {
  position: relative;
  top: 100px;
  width: 300px;
  height: 50px;
  text-align: center;
  left: 200px;
}

#about p {
  position: relative;
  top: calc((100vh / 2) - 107px);
  width: 700px;
  left: 650px;
  text-align: center;
}

#skills {
  height: 100vh;
  background: plum;
  position: absolute;
  top: 200vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills .skill {
  width: 350px;
  height: 180px;
  margin: 0 78px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

#skills .sk1 {
  position: relative;
  top: calc(100vh - 300px);
}

#skills .sk2 {
  position: relative;
  top: 100px;
}

#skills .sk3 {
  position: relative;
  top: calc(100vh - 300px);
}

/*
#work {
    height: 100vh;
    width: 100%;
    background: rgb(115, 158, 168);
    position: absolute;
    top: 300vh;

    .text {
        top: calc((100vh / 2) - 105px);
        position: relative;
        width: 700px;
        height: 210px;
        left: 150px;

        h1 {
            float: left;
        }

        h3 {
            width: 650px;
            height: auto;
            text-align: center;
            float: right;
        }
    }

    .work {
        background: rgb(139, 94, 94);
    }

    .wk0 {
        position: absolute;
        top: 80px;
        left: 100px;
    }

    .wk1 {
        position: absolute;
        top: 200px;
        left: 600px;
    }

    .wk2 {
        position: absolute;
        top: 100px;
        left: 1050px;
    }

    .wk3 {
        position: absolute;
        top: 430px;
        left: 125px;
    }

    .wk4 {
        position: absolute;
        top: 400px;
        left: 1200px;
    }

    .wk5 {
        position: absolute;
        top: 520px;
        left: 600px;
    }
}
*/
#contact {
  height: 100vh;
  width: 100%;
  background: #7e5cb4;
  position: absolute;
  top: 400vh;
}

#modal .content {
  height: auto;
  width: 80vw;
  background: white;
  position: absolute;
  top: 25px;
  left: calc((100vw / 2) - 805px);
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#modal .content #close {
  position: relative;
  left: calc(100% - 3%);
  top: 10px;
}

#modal .content h1 {
  text-align: center;
  width: 80%;
  margin: 30px auto;
}

#modal .content .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto;
}

#modal .content .table .col {
  margin: 0 50px;
  width: 33%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

#modal .content .table .col h5 {
  font-size: 1.5em;
}

#modal .content p {
  width: 80%;
  text-align: center;
  margin: auto;
}

#modal .content .image img {
  width: 100%;
  height: auto;
}

#mainten #text {
  position: absolute;
  left: calc((100vw / 2) - 200px);
  top: 200px;
  color: white;
}

#mainten #text h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 8px;
}

#mainten #text h3 {
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 4px;
}

#mainten #text ul li {
  display: inline-block;
  margin: 20px;
  -webkit-animation: floatText 2s ease-in infinite;
          animation: floatText 2s ease-in infinite;
}

#mainten #text ul li a {
  text-decoration: none;
  color: white;
  font-family: Montserrat;
}

#mainten #asteorids img {
  -webkit-animation: floatTwo 4s ease-in-out infinite;
          animation: floatTwo 4s ease-in-out infinite;
}

#mainten .planet {
  -webkit-animation: floatTwo 5s ease-in-out infinite;
          animation: floatTwo 5s ease-in-out infinite;
}

#mainten #floating {
  position: absolute;
  width: 95vw;
  left: 35px;
  bottom: 50px;
}

#mainten #floating #laptop {
  float: left;
}

#mainten #floating #laptop img {
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

#mainten #floating #laptop .shadow1 {
  height: 30px;
  width: 500px;
  border-radius: 700px / 50px;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  -webkit-animation: shadow 6s ease-in-out infinite;
          animation: shadow 6s ease-in-out infinite;
  margin-left: 80px;
}

#mainten #floating #mobile {
  position: absolute;
  bottom: 0px;
  right: 50px;
}

#mainten #floating #mobile img {
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

#mainten #floating #mobile .shadow2 {
  height: 30px;
  width: 120px;
  border-radius: 400px / 50px;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  -webkit-animation: shadow 6s ease-in-out infinite;
          animation: shadow 6s ease-in-out infinite;
  margin-right: 80px;
}

#menu {
  width: 25%;
  height: 100vh;
  float: left;
  background: pink;
}

/*
#mosaic {
    width: 75%;
    height: 100vh;
    float: right;
    background: salmon;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .work {
        display: flex;
        flex: 1 1 auto;
        width: 33.3%;

        img {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        h3 {
            display: none;
            position: absolute;
        }
    }

    .work:hover {
        //opacity: 0.5;
        h3 {
            display: flex;
            color: white;
            justify-content: center;
            align-items: center;
        }
    }
}
*/
/*
#mosaic {
    width: 75%;
    height: 100vh;
    float: right;
    background: salmon;

    .image {
        max-width: 100%;
    }

    img {
        display: block;
        cursor: pointer;
    }
}

@media screen and (min-width: 600px) {
    #mosaic {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
            .work {
                width: 50%;
            }

}

@media screen and (min-width: 1000px) {
    .work {
        width: calc(100% / 3);
    }
}
*/
#mosaic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  width: 75vw;
  overflow: hidden;
  float: right;
  z-index: 2;
  position: absolute;
  right: 0;
}

.gallery-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  color: #fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: Nanum Gothic;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.gallery-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes floatTwo {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes floatTwo {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes floatText {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-3px);
            transform: translatey(-3px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes floatText {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-3px);
            transform: translatey(-3px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
}
/*# sourceMappingURL=style.css.map */